.App {
  margin: 0px auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display:none;
}
.App-link {
  color: #61dafb;
}

.flex{
  display:flex;
}

.align-items-center{
  align-items: center;
}

.app-content{ 
  padding: 0 20% 0 20%;
}
.float-right{
  float: right;
}

.p-datatable tr:hover{
  cursor: pointer;
  background: rgba(148,232,249,0.4) !important;
}

.edit-user .p-dialog-content div{
  margin-top:5px;
  margin-bottom:5px;
}
.page-heading{
  width: 100%;
  text-align: center;
}