.App {
  margin: 0px auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display:none;
}
.App-link {
  color: #61dafb;
}

.flex{
  display:flex;
}

.align-items-center{
  align-items: center;
}

.app-content{ 
  padding: 0 20% 0 20%;
}
.float-right{
  float: right;
}

.float-left{
  float: left
}


.p-datatable tr:hover{
  cursor: pointer;
  background: rgba(148,232,249,0.4) !important;
}

.edit-user .p-dialog-content div{
  margin-top:5px;
  margin-bottom:5px;
}
.page-heading{
  width: 100%;
  text-align: center;
}

textarea {
  height: 300px;
}


.Auth-form-container {
  display: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin-top: 35px;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.error {
  font-size: 14px;
  color:red;
  margin-top: 5px;
}

.error{
  width: 100%;
}
.error div{
  width: 100%;
  margin-bottom: 5px;
}