.photo {
    width:100%
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }

.employee-detail {
  display: flexbox;
  align-items: flex-start;
  margin-right: 50px;
  margin-left: 50px;
  padding: 15px;
}

.labels-container {
  padding: 15px;
}

.employee-detail-container {
    display: inline-flex;
    flex-direction: row; 
    align-items: flex-start;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;
  }


.notes-textarea {
    width: 800px;
    height: 400px;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;
}
